body {
    margin: 0;
    padding: 0;
    background-color: #0b1116;
    color: #fff;
    text-align: center;
   

}

#splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.icon-container {
    margin-bottom: 20px;
}

#percentage {
    margin-top: -60px;
    font-size: 25px;
}

.mission {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 20px;
    max-width: 80%;
}

.names {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outline{
    position :absolute;
    bottom: 55.7%;
}

